<nav>
  <ul>
    <li><a [routerLink]="['/drag-resize']">drag-resize</a></li>
    <li><a [routerLink]="['/drag-drop']">drag-drop</a></li>
    <li><a [routerLink]="['/sort-list']">sort-list</a></li>
    <li><a [routerLink]="['/horizontal-list']">horizontal-list</a></li>
    <li><a [routerLink]="['/copy-to-zone']">copy-to-zonet</a></li>
    <li><a [routerLink]="['/nested-tree-sort']">nested-tree-sort</a></li>
    <li><a [routerLink]="['/grid-layout']">grid-layout</a></li>
    <li><a [routerLink]="['/resizable-layout']">resizable-layout</a></li>
  </ul>
  <label>
    <input type="checkbox" name="direction" [(ngModel)]="isRtl" (change)="changeDirection(true)" />
    {{ isRtl ? 'RTL' : 'LTR' }}
  </label>
</nav>
<div class="main-content">
  <router-outlet />
</div>
