.kanban-view {
  display: flex;
  gap: 10px;
  h6 {
    padding: 10px;
    margin: 0;
    border-bottom: 1px rgb(133, 133, 199) solid;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    height: 45px;
  }
}
.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: auto;
  max-height: 1000px;
  min-height: 50vh;
  .inner {
    background-color: #ccc;
    height: calc(100% - 45px);
  }
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}



.pointer{
    position: absolute;
    background-color: #ff0000;
    top: 11px;
    left: 10px;
    z-index: 99999999;
}