.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.example-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 57px;
}

.drag-handle {
  width: 26px;
  height: 45px;
  padding: 10px 6px 0;
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  .col {
    max-width: 100%;
  }
}
.custom-placeholder {
  border: 2px #008a3c solid;
  &:after,
  &::before {
    position: absolute;
    content: ' ';
    border: 8px #008a3c solid;
    top: -8px;
  }
  &:after {
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    right: -2px;
  }
  &:before {
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    left: -2px;
  }
}
