.list-container {
	width: 1000px;
	max-width: 100%;
	border: solid 1px #ccc;
	min-height: 60px;
	display: block;
	background: white;
	border-radius: 4px;
	overflow: auto;
	max-height: 1000px;
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 5px;
	&.auto-wrap {
		flex-wrap: wrap;
	}
}

.box-item {
	padding: 20px 10px;
	border: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
	width: 120px;
}

.example-custom-placeholder {
	background: #ccc;
	border: dotted 3px #999;
	min-height: 60px;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
