<div ngxDropList class="example-list" (drop)="drop($event)" [data]="items" *ngIf="items && items.length > 0">
  @for (item of items; track item) {
  <div
    class="example-box"
    ngxDraggable
    (entered)="item.entered = true"
    (exited)="item.entered = false"
    [class.entered]="item.entered"
    [id]="item.name">
    <div>{{ item.name }}</div>
    <div class="children" ngxDropList (drop)="drop($event)" [data]="item.children" [id]="'child_' + item.name">
      <tree *ngIf="item.children" [items]="item.children"></tree>
    </div>
  </div>
  }
</div>
