.ngx-corner-resize {
  position: absolute;
  --pointerSize: 8px;
  width: var(--pointerSize);
  height: var(--pointerSize);
  margin: 0px;
  visibility: hidden;
  transition: margin 300ms; 
  &.topLeft {
    top: 0px;
    left: 0px;
    cursor: nw-resize;
    border: 2px var(--pointerColor) solid;
    border-radius: 50px;
    margin: 3px;
  }
  &.topRight {
    top: 0px;
    right: 0px;
    cursor: nesw-resize;
    border: 2px var(--pointerColor) solid;
    border-radius: 50px;
  }
  &.bottomLeft {
    bottom: 0px;
    left: 0px;
    cursor: nesw-resize;
    border: 2px var(--pointerColor) solid;
    border-radius: 50px;
  }
  &.bottomRight {
    bottom: 0px;
    right: 0px;
    cursor: nwse-resize;
    border: 2px var(--pointerColor) solid;
    border-radius: 50px;
  }
  &.top {
    top: 0;
    height: var(--pointerSize);
    width: calc(100% - var(--pointerSize) - var(--pointerSize));
    cursor: row-resize;
  }
  &.right {
    top: var(--pointerSize);
    right: 0;
    width: var(--pointerSize);
    height: calc(100% - var(--pointerSize) - var(--pointerSize));
    cursor: col-resize;
  }

  &.left {
    top: var(--pointerSize);
    left: 0;
    width: var(--pointerSize);
    height: calc(100% - var(--pointerSize) - var(--pointerSize));
    cursor: col-resize;
  }
  &.bottom {
    bottom: 0;
    height: var(--pointerSize);
    width: calc(100% - var(--pointerSize) - var(--pointerSize));
    cursor: row-resize;
  }
}

.ngx-resizable {
  --pointerColor: #005aff;
  &.resizing {
    transition-property: none !important;
  }
  &:hover {
    .ngx-corner-resize {
      visibility: visible;
      z-index: 1;
    }
    .topRight,
    .topLeft,
    .bottomRight,
    .bottomLeft {
      margin: -4px;
    }
  }
}

.ngx-draggable {
  &.dragging {
    transition-property: none !important;
  }
  /** 
  style for draged element in drop list
  - when appended to body
  */
  &.ngx-drag-drop {
    box-shadow: 0 0 5px #32323291;
  }
}

.ngx-drag-placeholder {
  display: none;
  background: #cccccc73;
  border: dotted 2px #999;
  min-height: 30px;
  pointer-events: none;
  max-width: 100%;

  // animation: animationMaxHeight 1000ms, animationShow 300ms;
  // transform-origin: 0% 0%;
  // @keyframes animationMaxHeight {
  //   from {
  //     min-height: 0;
  //     max-height: 0;
  //   }
  //   to {
  //     max-height: 500px;
  //   }
  // }

  // @keyframes animationShow {
  //   from {
  //     transform: scaleY(0);
  //   }
  //   to {
  //     transform: scaleY(1);
  //   }
  // }
}
