<div ngxDropList class="example-list" (drop)="drop($event, items)" id="baseList" #baseList [connectedTo]="[baseList]">
  <!-- <span class="placeholder" *ngxPlaceholder></span> -->
  <input type="text" ngxDraggable value="this is a text" />

  <div class="box" ngxDraggable>textxxxxxxxxxxxx</div>
  <input type="text" ngxDraggable value="this is a text" />

  <input type="button" ngxDraggable value="df dfdf df" />

  <input type="email" ngxDraggable value="this is a text" />

  <button ngxDraggable>buttton</button>
</div>
<pre>{{ items | json }}</pre>
